* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    background: aqua;
}

/*bubble*/
.box ul {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.45);
    animation: floatUL 4s linear forwards;
    /* animation-timing-function: linear; */
    /* animation-fill-mode: forwards; */
}

.box ul::before {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    content: '';
    top: 10%;
    left: 10%;
    border-top: 5px solid white;
    transform: rotate(-40deg);
}

.box ul li {
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.45);

}

.box ul li:nth-child(1) {
    width: 20px;
    height: 20px;
    left: -150%;
    bottom: -100%;
    opacity: 1;
    animation: float 20s linear forwards;
}

.box ul li:nth-child(2) {
    width: 25px;
    height: 25px;
    right: 80%;
    top: -80%;
    opacity: 1;
    animation: float 8s linear forwards;
}

.box ul li:nth-child(3) {
    width: 12px;
    height: 12px;
    left: 0%;
    top: -160%;
    opacity: 1;
    animation: float 10s linear forwards;
}

.box ul li:nth-child(4) {
    width: 35px;
    height: 35px;
    left: 85%;
    bottom: 50%;
    opacity: 1;
    animation: float 8s linear forwards;
}

.box ul li:nth-child(4)::after {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-top: 3px solid white;
    position: absolute;
    z-index: 11;
    content: '';
    top: 10%;
    left: 10%;
    transform: rotate(-40deg);
}

/*fish*/

.fish {
    margin: 100px 100px 100px 100px;
    padding: 0;
    width: 0;
    height: 0;
    position: absolute;
    animation: float-right 4s linear forwards;
}

.fish-body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -50px;
    left: -1px;
    border-top: 50px solid transparent;
    border-left: 50px solid red;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
    border-radius: 20%;
}

.tail {
    margin: 0;
    padding: 0;
    position: relative;
    border-top: 15px solid transparent;
    border-left: 15px solid red;
    border-bottom: 15px solid transparent;
    border-right: 15px solid transparent;
}

.eye {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    top: -20px;
    left: -35px;
    z-index: 1;
    position: absolute;
}



@keyframes floatUL {
    0% {
        transform: translateX(30%) translateY(-30%);
        opacity: 0.9;
    }

    50% {
        transform: translateY(-50%) translateX(50%);
        opacity: 0.8;

    }

    70% {
        transform: translateX(70%) translateY(-70%);
        opacity: 0.5;

    }

    100% {
        transform: translateY(-80%) translateX(100%);
        opacity: 0.0;

    }
}


@keyframes float {
    0% {
        transform: translateY(30px) rotate(60deg);
        opacity: 1;
    }

    50% {
        transform: translateY(-60px) rotate(160deg);
        opacity: 0.8;

    }

    70% {
        transform: translateY(90px) rotate(260deg);
        opacity: 0.7;

    }

    100% {
        transform: translateY(-120px) rotate(360deg);
        opacity: 0.3;
        visibility: hidden;
    }
}

@keyframes float-right {
    0% {
        transform: translateX(130px);
    }

    10% {
        transform: translateX(260px);
    }

    20% {
        transform: translateX(390px);
    }

    30% {
        transform: translateX(520px);
    }

    40% {
        transform: translateX(650px);
    }

    50% {
        transform: translateX(780px);
    }

    60% {
        transform: translateX(910px);
    }

    70% {
        transform: translateX(1040px);
    }

    80% {
        transform: translateX(1170px);
    }

    90% {
        transform: translateX(1300px);
    }

    100% {
        transform: translateX(1430px);
    }

}